@model app.Models.Personer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efternavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efternavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postnr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.By)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.By)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefonnr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
